html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

input,
button,
select {
  font-family: inherit;
}

h1,
h2 {
  font-weight: 700;
}

.expenses {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.expenses__content {
  display: flex;
  gap: 30px;
}

.expenses__content-main,
.expenses__content-history {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.expenses__input {
  display: flex;
  justify-content: space-between;
  /* width: 484px; */
  padding: 10px 17px;
  border: 1px solid #000000;
}

input {
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

input:focus {
  outline: none;
}

.category__select {
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
  padding: 10px 0 10px 22px;
}

.expenses__limit,
.expenses__total,
.expenses__status {
  display: flex;
}

.stats {
  display: flex;
}

.expenses__status-inner {
  color: #039000;
}

.status__approved {
  color: #039000;
}

.status__rejected {
  color: #fc0000;
}

.rub::after {
  content: " руб.";
}

.clear__btn {
  width: 100%;
  padding: 11px;
  background-color: #fc0000;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.expenses__history {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expenses__btn-add {
  width: 370px;
  padding: 10px 110px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  background: #0094ff;
  border: none;
  cursor: pointer;
}
