html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

input,
button,
select {
  font-family: inherit;
}

h1,
h2 {
  font-weight: 700;
}

.expenses {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.expenses__content {
  display: flex;
  gap: 30px;
}

.expenses__content-main,
.expenses__content-history {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc(50% - 15px);
}

.expenses__input {
  display: flex;
  justify-content: space-between;
  padding: 10px 17px;
  border: 1px solid #000000;
}

input {
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

input:focus {
  outline: none;
}

.category__select {
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
  padding: 10px 0 10px 22px;
  border: 1px solid #000000;
}

.expenses__limit,
.expenses__total,
.expenses__status {
  position: relative;
  display: flex;
  gap: 10px;
}

.change__limit-btn {
  position: absolute;
  right: 0;
  top: -4px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.expenses__status-inner {
  color: #039000;
}

.status__approved {
  color: #039000;
}

.status__rejected {
  color: #fc0000;
}

.rub::after {
  content: " руб.";
}

.btn {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.expenses__clear-btn {
  background-color: #fc0000;
}

.expenses__history {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expenses__add-btn {
  background: #0094ff;
}

@media (max-width: 767px) {
  .expenses__content {
    flex-direction: column;
    gap: 30px;
  }

  body {
    font-size: 24px;
    line-height: 30px;
  }

  input {
    font-size: 24px;
    line-height: 30px;
  }

  .expenses__input {
    padding: 5px;
  }

  .category__select {
    font-size: 24px;
    line-height: 30px;
    padding: 5px 0 5px 11px;
  }

  .expenses__content-main,
  .expenses__content-history {
    gap: 20px;
    width: 100%;
  }

  .change__limit-btn {
    top: -2px;
    width: 30px;
    height: 30px;
  }

  .btn {
    padding: 5px;
    font-size: 24px;
    line-height: 30px;
  }
}
